{% extends 'registration/basic.html' %}
{% block contain %}
    <form method="post" >
    {% csrf_token %}
    {% for error in form.non_field_errors %}
    <div class="row">
             <div class="alert alert-danger">{{error}}</div>
           </div>
    {% endfor %}
   {% for field in form %}
    <div class="row mt-2">
      <div class="col-md-2">
        {{ field.label_tag }}
        {% if field.help_text %}
          <sup>{{ field.help_text }}</sup>
          {% endif %}
          {% for error in field.errors %}
           <div class="row">
             <div class="alert alert-danger">{{error}}</div>
           </div>
          {% endfor %}
       </div><div class="col-md-10 pull-left">
         {{ field }}
       </div>
    </div>

  {% endfor %}
    <div class="row mt-2">
      <div class="col-md-2">
        Reportd by:
       </div><div class="col-md-10 pull-left">
          {{ user.get_username }}
       </div>
    </div>
<input type="submit" name="submit" class="mt-2">
    </form>
{% endblock %}